:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 350px;
  border-radius: 10px;
  transition: all .1s ease-in-out;
}

.expense-item.positive {
  border-right: 4px solid green;
}

.expense-item.negative {
  border-right: 4px solid red;
}

.expense-item:hover {
  transform: scale(1.1);
}

.income,
.expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.income .title,
.expenses .title {
  font-size: 20px;
  color: black;
}

.income {
  color: green;
}

.expenses {
  color: red;
}

.block {
  width: 2px;
  background-color: #aaa;
  border-radius: 10px;
}


.expense-item {
  border-radius: 12px;
  margin: 2rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  padding: 1rem;
  transition: all .1s ease-in-out;
}

.expense-item.positive {
  border-right: 4px solid green;
}

.expense-item.negative {
  border-right: 4px solid red;
}

.expense-item:hover {
  transform: scale(1.10);
}

.expense-balance {
  margin: 2rem auto;
  align-items: center;

}

.income-expense-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 400px;
  margin: 1rem auto;
}

.balanace {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 400px;
  margin: 1rem auto;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-title {
  margin: 10px;
  margin-right: 10px;
  height: 35px;
  width: 100%;
  border-radius: 6px;
  transition: all .1s ease-in-out;

}

.input-amount {
  margin: 10px;
  height: 35px;
  width: 100%;
  border-radius: 6px;
  transition: all .1s ease-in-out;

}

.input-title:hover {
  outline: 2px solid gold;
  border: 0.5px;
}

.input-amount:hover {
  outline: 2px solid gold;
  border: 0.5px;
}

.btn-trans {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 20px;
  font-size: 13px;
  border-radius: 10px;
}

.btn-cont {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.input {
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1rem;
  margin: 1rem auto;
}